<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Users Manager</title>
</head>
<body>
<div align="center">
    <nav>
    	<a href="/springjpa/list_product">User List</a>/
    	<a href="/springjpa/list_category"> Catagory List</a>
    </nav>
    <h1>Users List</h1>
    <a href="/springjpa/newtuser">Create New User</a>
    <br/><br/>

    <!--  Search User -->
    <div class = "search">
     <form action="#" th:action = "@{/searchuser}" th:object = "${userform}" method="post">
      <table boder = "0" cellpadding="10" >
      	<tr>
      		<td> User Search: </td>
      		<td> <input type="text" th:field = "*{userName}" placeholder="Search ... "/> </td>
      		<td colspan="2"> <button type = "submit"> Search </button> </td>
      	</tr>
      </table>
     </form>
    </div>

    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>User ID</th>
                <th>User Name</th>
                <th>User Active</th>
                <th>User Email</th>
                <th>User Birthday</th>
                <th>User Gender</th>
                <th>User Address</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="listtuser : ${listTUser}">
                <td th:text="${listtuser.userID}">User ID</td>
                <td th:text="${listtuser.userName}">User Name</td>
                <td th:text="${listtuser.userActive}">User Active</td>
                <td th:text="${listtuser.userEmail}">User Email</td>
                <td th:text="${listtuser.userBirthday}">User Birthday</td>
                <td th:text="${listtuser.usergender}">User Gender</td>
                <td th:text="${listtuser.userAddress}">User Address</td>
                <td>
                    <a th:href="@{'/edittuser/' + ${listtuser.userID}}">Edit User</a>
                    &nbsp;&nbsp;&nbsp;
                    <a th:href="@{'/deletetuser/' + ${listtuser.userID}}">Delete User</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>