<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Create New User</title>
</head>
<body>
	<div align="center">
		<h1>Create New User</h1>
		<br />
		<form action="#" th:action="@{/savetuser}" th:object="${tUser}" method="post">
			<table border="0" cellpadding="10">
				<tr>
					<td>User ID:</td>
					<td>
						<input type="text" th:field="*{userID}" readonly="readonly"/>
					</td>
				</tr>
				<tr>
					<td>User Name:</td>
					<td>
						<input type="text" th:field="*{userName}"/>
					</td>
				</tr>
				<tr>
					<td>User Active:</td>
					<td><input type="text" th:field="*{userActive}"/></td>
				</tr>
				<tr>
					<td>User Email:</td>
					<td><input type="text" th:field="*{userEmail}"/></td>
				</tr>
				<tr>
					<td>User Birthday:</td>
					<td><input type="date" th:field="*{userBirthday}"/></td>
				</tr>
				<tr>
				<td>User Gender:</td>
					<td><input type="text" th:field="*{usergender}"/></td>
				</tr>
				<tr>
				<td>User Address:</td>
					<td><input type="text" th:field="*{userAddress}"/></td>
				</tr>
				<tr>
					<td colspan="2"><button type="submit">Save</button> </td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>